## ПАКЕТ SURPRISE

1. используйте данные MovieLens 1M
2. можно использовать любые модели из пакета
3. получите RMSE на тестовом сете 0.87 и ниже

In [20]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import cross_validate

import pandas as pd

In [6]:
ratings=pd.read_csv('ratings.dat',
            sep='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'])
ratings.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [8]:
ratings.rating.value_counts()

4    348971
3    261197
5    226310
2    107557
1     56174
Name: rating, dtype: int64

In [11]:
dataset = pd.DataFrame({
    'uid': ratings.user_id,
    'iid': ratings.movie_id,
    'rating': ratings.rating
})

In [12]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(dataset, reader)

In [ ]:
algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})

In [21]:
cross_validate(algo, data, measures=['RMSE'], cv=5, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8903  0.8877  0.8902  0.8881  0.8891  0.8891  0.0011
Fit time          101.89  105.11  104.32  104.29  104.26  103.97  1.09
Test time         122.38  126.20  130.55  130.97  119.59  125.94  4.46

{'test_rmse': array([0.89034469, 0.88766235, 0.8901502 , 0.88806162, 0.88905163]),
 'fit_time': (101.88784766197205,
  105.11147785186768,
  104.32294058799744,
  104.29207587242126,
  104.25509142875671),
 'test_time': (122.3788549900055,
  126.202467918396,
  130.55304503440857,
  130.96991562843323,
  119.59493565559387)}

### Источники: 
Все же RMSE<0.87 достаточно проблематично получить на данном датасете исходя из опыта других: http://surpriselib.com/