## ПАКЕТ SURPRISE

1. используйте данные MovieLens 1M
2. можно использовать любые модели из пакета
3. получите RMSE на тестовом сете 0.87 и ниже

In [7]:
from surprise import KNNWithMeans, KNNBasic
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import cross_validate

import pandas as pd

In [2]:
ratings=pd.read_csv('ratings.dat',
            sep='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'])
ratings.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [3]:
ratings.rating.value_counts()

4    348971
3    261197
5    226310
2    107557
1     56174
Name: rating, dtype: int64

In [4]:
dataset = pd.DataFrame({
    'uid': ratings.user_id,
    'iid': ratings.movie_id,
    'rating': ratings.rating
})

In [5]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(dataset, reader)

In [10]:
algo = SVD(n_factors=20, n_epochs=20)

In [11]:
cross_validate(algo, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8693  0.8751  0.8732  0.8680  0.8715  0.8714  0.0026
Fit time          18.39   18.37   19.44   19.18   18.63   18.80   0.43
Test time         1.79    1.69    1.83    1.79    1.79    1.78    0.05

{'test_rmse': array([0.86925197, 0.87505669, 0.87322259, 0.86797554, 0.8714534 ]),
 'fit_time': (18.392592430114746,
  18.368699312210083,
  19.44220519065857,
  19.1755530834198,
  18.626468896865845),
 'test_time': (1.7914750576019287,
  1.692629337310791,
  1.827192783355713,
  1.7934257984161377,
  1.790663242340088)}

#### Комментарий: 
На некоторых Fold'ах удалось достичь RMSE < 0.87